<p class="title">{{title}}</p>
<div class="quantity-bar">
    <p class="symbol" {{action "decrementValue"}}>-</p>
    <p class="number">{{value}}</p>
    <p class="symbol" {{action "incrementValue"}}>+</p>
</div>
{{#if isError}}
    <p class="error">{{error}}</p>
{{/if}}
{{yield}}
