
<div class="tabs">
  <div class="tab">
    <div id="depature-date" class="tab-box active" {{action "oneWaySearchSelected"}}>
        <p>One Way</p>
    </div>
  </div>
  <div class="tab">
    <div id="return-date" class="tab-box" {{action "returnSearchSelected"}}>
        <p>Return</p>
    </div>
 </div>
</div>
<form>
    {{input placeholder="Enter Origin City" value=originCity}}
    {{input placeholder="Enter Destination City" value=destinationCity}}

    {{pikaday-input format="MMMM D, YYYY" 
    placeholder="Departure Date" 
    yearRange="1" 
    maxDate=maxDate 
    minDate=minDate 
    value=depatureDate
    onSelection=(action 'depatureDateSelected')}}

    {{#if isReturnDateTabSelected}}
        {{pikaday-input format="MMMM D, YYYY" 
        placeholder="Return Date" 
        yearRange="1"
        maxDate=maxDate 
        minDate=minDate 
        value=returnDate
        onSelection=(action 'returnDateSelected')}}
    {{/if}}

    {{quantity-bar value=numPassenger limitValue=9 title="Passengers" onChange="passengerCountChange" }}
    {{#if isError}}
        <p class="error">{{error}}</p>
    {{/if}}
    <button {{action "seacrhFlight"}}>Search</button>
</form>

{{slider-range maxValue=highestPrice sliderValue=highestPrice onChange="priceValueChange"}}
{{yield}}
