{{nav-bar}}
<div class="main-container">
    {{side-bar searhComplete='searchComplete'}}
    <div class="flight-grid">

        {{#if isWelcomeMessage}}
            <div class="message-card">
                {{!-- <p>Welcome to ThoughtWorks Flight Search</p> --}}
                <p>Happy Searching :)</p>
            </div>
        {{else}}
            {{#if isResultFound}}
                {{#each searchResult}}
                    {{flight-card}}
                {{/each}}     
            {{else}}
                <div class="message-card">
                    <p>Sorry no Flight present for you Search :(</p>
                </div>
            {{/if}}
        {{/if}}

    </div>
</div>
{{outlet}}
